@{
  Layout = "_Layout";
}
<h1>Welcome to a Stunning Vendor Tracker web app!</h1>
<h3>Add a Vendor then add an Order to it.</h3>
<h3><a href='/vendors'>View Vendors</a></h3>
<p>or...</p>
<a href="/vendors/new">Add a new Vendor</a>