@{
  Layout = "_Layout";
}
@using VendorTracker.Models
<form>
  <h2><em><u>Vendor</u></em></h2>
  <h4><strong>@Model["vendor"].Name</strong></h4>
  <h2><em><u>Order</u></em></h2>
  <h4><strong>@Model["order"].Title</strong></h4>
  <p>@Model["order"].Description</p><br>
  <p>Date: @Model["order"].Date</p>
  <p>Price: $@Model["order"].Price</p>
</form>


<div class="footer">
  <a href='/vendors/@Model["vendor"].Id/orders/new'>Add another Order</a>
  <a href='/vendors/@Model["vendor"].Id'>Return To Vendor View</a>
</div>