@{
  Layout = "_Layout";
}
@using VendorTracker.Models

<h1>@Model["order"].Title</h1>
<h3>Vendor: @Model["vendor"].Name</h3>

<div class="footer">

  <a href='/vendors/@Model["vendor"].Id/orders/new'>Add another Order</a>
  <a href='/vendors/@Model["vendor"].Id'>Return To Vendor View</a>
  <a href='/vendors'>View all Vendors</a>
</div>